<form class="mt-4" name="container-form" method="post" action="/courses/handle-form-actions">
    <div name="container-form" method="post" action="/courses/handle-form-actions">
      <h3>My Courses</h3>

      <a href="/me/trash/courses">Recycle Bin ({{this.deletedCount}})</a>
      
      <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
            Select All
          </label>
        </div>

        <select class="form-control form-control-sm select-all-options" name="action" required>
          <option value="">-- Select Option--</option>
          <option value="delete">Delete</option>
        </select>

        <button class="btn btn-primary btn-sm execute-btn" disabled>Execute</button>
      </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col" colspan="2">Created Time</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">                    </label>
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Update</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-model">Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                You do not have any courses.
                <a href="/courses/create">Upload course</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete a course --}}
<!-- Modal -->
<div class="modal fade" id="delete-course-model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete this course?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you definitely want to delete this course?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Confirm</button>
      </div>
    </div>
  </div>
</div>

{{!-- delete hidden form --}}

<form name="delete-course-form" method="post"></form>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var containerForm = document.forms['container-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var executeBtn = $('.execute-btn');

        // when dialog confirm clicked
        $('#delete-course-model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });

        //when clicking delete course
        btnDeleteCourse.onclick = function(){
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }

        //checkbox all selected
        checkboxAll.change(function(){
          var isCheckedAll = $(this).prop('checked');
          courseItemCheckbox.prop('checked', isCheckedAll);
          renderExecuteButton();
        })

        //Course item checkbox changed
        courseItemCheckbox.change(function(){
          var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
          checkboxAll.prop('checked', isCheckedAll);
          renderExecuteButton();
        });

        //Re-render Execution button
        function renderExecuteButton(){
          var checkedCount = $('input[name="courseIds[]"]:checked').length;
          if (checkedCount > 0) {
            executeBtn.attr('disabled', false);
          }
          else{
            executeBtn.attr('disabled', true);
          }
        }
    });
</script>